<div class="container-fluid">

    <div id="generic_price_table">   
        <section>
                <div class="container">
                    
                    
                    <!--BLOCK ROW START-->
                    <div class="row">
                        <div class="col-md-4">
                        
                          <!--PRICE CONTENT START-->
                            <div class="generic_content clearfix">
                                
                                <!--HEAD PRICE DETAIL START-->
                                
                                
                                    <!--HEAD CONTENT START-->
                                    <div class="generic_head_content clearfix">
                                    
                                      <!--HEAD START-->
                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span>Avión del Sauzal</span>
                                        </div>
                                        <!--//HEAD END-->
                                        
                                    </div>
                                    <!--//HEAD CONTENT END-->
    
                                    <div class="figure">
                                  
                                        <img src="../../../assets/sauzal_norte.jpg"
        
                                        width="341"
                                        height="341"
                                        >
                                    </div>
                                    
                               
                                    
                                
                                <!--//HEAD PRICE DETAIL END-->
                                
                               
                                
                                <!--BUTTON START-->
                                <div class="generic_price_btn clearfix">

                                  <a class="" routerLink="/sauzal">Seleccionar</a>
                                </div>
                                <!--//BUTTON END-->
                                
                            </div>
                            <!--//PRICE CONTENT END-->
                                
                        </div>
                        
                        <div class="col-md-4">
                        
                          <!--PRICE CONTENT START-->
                            <div class="generic_content clearfix">
                                
                                <!--HEAD PRICE DETAIL START-->
                                
                                
                                    <!--HEAD CONTENT START-->
                                    <div class="generic_head_content clearfix">
                                    
                                      <!--HEAD START-->
                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span>Tunel Garachico</span>
                                        </div>
                                        <!--//HEAD END-->
                                        
                                    </div>
                                    <!--//HEAD CONTENT END-->
    
                                    <div class="figure">
                                  
                                        <img src="../../../assets/tunel_garachico_norte.jpg"
        
                                        width="341"
                                        height="341"
                                        >
                                    </div>
                
                                                             
                                
                                
                                <!--BUTTON START-->
                                <div class="generic_price_btn clearfix">

                                  <a class="" routerLink="/garachico">Seleccionar</a>
                                </div>
                                <!--//BUTTON END-->
                                
                            </div>
                            <!--//PRICE CONTENT END-->
                                
                        </div>
                        <div class="col-md-4">
                        
                          <!--PRICE CONTENT START-->
                            <div class="generic_content clearfix">
                                
                                <!--HEAD PRICE DETAIL START-->
                                
                                
                                    <!--HEAD CONTENT START-->
                                    <div class="generic_head_content clearfix">
                                    
                                      <!--HEAD START-->
                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span>Risco Garachico</span>
                                        </div>
                                        <!--//HEAD END-->
                                        
                                    </div>
                                    
                                                               
                                <!--//HEAD PRICE DETAIL END-->
                                
                                <!--FEATURE LIST START-->
                                <div class="figure">
                                  
                                    <img src="../../../assets/risco_garachico_norte.jpg"
    
                                    width="341"
                                    height="341"
                                    >
                                </div>
                                <!--//FEATURE LIST END-->
                                
                                <!--BUTTON START-->
                                <div class="generic_price_btn clearfix">

                                  <a class="" routerLink="/risco_garachico">Seleccionar</a>
                                </div>
                                <!--//BUTTON END-->
                                
                            </div>
                            <!--//PRICE CONTENT END-->
                                
                        </div>
                        
                    </div>  
                    <!--//BLOCK ROW END-->
                    
                   