<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-title text-center"><h1> APPuntes</h1></div>
      <div class="card-body">
        <form [formGroup]="form" (submit)="onSubmit()">
          <div>
            <input class="input-group mb-3" formControlName="name" type="text" placeholder="Título del documento" />
          </div>
          <span></span>
          <div>
            <input class="input-group mb-3" formControlName="description" type="text" placeholder="Descipción de los apuntes" />
          </div>
          <div>
            <input (change)="onFileSelect($event)" type="file" />
          </div>
          <div *ngIf="imageData">
            <img [src]="imageData" [alt]="form.value.name" />
          </div>
          <div class="col text-center mt-3">
            <button class="btn-primary" type="submit">Subir APPuntes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>