<div class="container-fluid">

    <div id="generic_price_table">   
        <section>
                <div class="container">
                    
                    
                    <!--BLOCK ROW START-->
                    <div class="row">
                        <div class="col-md-4">
                        
                          <!--PRICE CONTENT START-->
                            <div class="generic_content clearfix">
                                
                                <!--HEAD PRICE DETAIL START-->
                                
                                
                                    <!--HEAD CONTENT START-->
                                    <div class="generic_head_content clearfix">
                                    
                                      <!--HEAD START-->
                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span>Radazul</span>
                                        </div>
                                        <!--//HEAD END-->
                                        
                                    </div>
                                    <!--//HEAD CONTENT END-->
    
                                    <div class="figure">
                                  
                                        <img src="https://cdn1.yumping.com/emp/fotos/4/2/6/3/8/tm_accediendo-al-mar-para-bucear.jpg"
        
                                        width="341"
                                        height="341"
                                        >
                                    </div>
                                    
                               
                                    
                                
                                <!--//HEAD PRICE DETAIL END-->
                                
                               
                                
                                <!--BUTTON START-->
                                <div class="generic_price_btn clearfix">

                                  <a class="" routerLink="/radazul">Seleccionar</a>
                                </div>
                                <!--//BUTTON END-->
                                
                            </div>
                            <!--//PRICE CONTENT END-->
                                
                        </div>
                        
                        <div class="col-md-4">
                        
                          <!--PRICE CONTENT START-->
                            <div class="generic_content clearfix">
                                
                                <!--HEAD PRICE DETAIL START-->
                                
                                
                                    <!--HEAD CONTENT START-->
                                    <div class="generic_head_content clearfix">
                                    
                                      <!--HEAD START-->
                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span>Pecio de Tabaiba</span>
                                        </div>
                                        <!--//HEAD END-->
                                        
                                    </div>
                                    <!--//HEAD CONTENT END-->
    
                                    <div class="figure">
                                  
                                        <img src="https://brandcentre.hellocanaryislands.com/sites/default/files/styles/content_page/public/mapa/201901/MA11546.png?itok=prngWx0q"
        
                                        width="341"
                                        height="341"
                                        >
                                    </div>
                
                                                             
                                
                                
                                <!--BUTTON START-->
                                <div class="generic_price_btn clearfix">

                                  <a class="" routerLink="/tabaiba">Seleccionar</a>
                                </div>
                                <!--//BUTTON END-->
                                
                            </div>
                            <!--//PRICE CONTENT END-->
                                
                        </div>
                        <div class="col-md-4">
                        
                          <!--PRICE CONTENT START-->
                            <div class="generic_content clearfix">
                                
                                <!--HEAD PRICE DETAIL START-->
                                
                                
                                    <!--HEAD CONTENT START-->
                                    <div class="generic_head_content clearfix">
                                    
                                      <!--HEAD START-->
                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span>Boca Cangrejo</span>
                                        </div>
                                        <!--//HEAD END-->
                                        
                                    </div>
                                    
                                                               
                                <!--//HEAD PRICE DETAIL END-->
                                
                                <!--FEATURE LIST START-->
                                <div class="figure">
                                  
                                    <img src="https://www.xmigrations.com/wp-content/uploads/2016/08/Inmersiones-submarinismo-en-Playa-La-Arena-Tenerife-2.jpg"
    
                                    width="341"
                                    height="341"
                                    >
                                </div>
                                <!--//FEATURE LIST END-->
                                
                                <!--BUTTON START-->
                                <div class="generic_price_btn clearfix">

                                  <a class="" routerLink="/boca_cangrejo">Seleccionar</a>
                                </div>
                                <!--//BUTTON END-->
                                
                            </div>
                            <!--//PRICE CONTENT END-->
                                
                        </div>
                        <p></p>
                        <p></p>
                        <p></p>
                      
                      
                        

                    </div>  
                    <!--//BLOCK ROW END-->
                    
                   