.titulo {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  color: rgb(22, 135, 167);
}

.texto {
  width: 95%;
  display: block;
  Text-align: justify;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.titulito {
  width: 95%;
  display: block;
  margin-left: 40px;
  font-weight: bold;
  font-size: 30px;
}

/* footer */

.footer-style {
  padding-top: 50px;
  background-color: #2C3E50;
}
