<div class="">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 d-flex justify-content-center">
        <p></p>
        <p></p>
          <img class="img-responsive" src="../../../assets/radazul_descripcion.png"
          width="1000"
          height="600">
      </div>
    </div>
  </div>
</div>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="titulo">
        <div class="col-sm-12 d-flex justify-content-center">
          <p>Radazul</p>
      </div>   
    </div>
    <div class="titulito">
      <p> Descripción:</p>
    </div>
    <div class="texto">
                      <p class="col-sm-12 d-flex justify-content-center">
                        Uno de los mejores sitios de buceo con fácil entrada y salida es Radazul. Aquí realizamos cursos y verificamos 
                        inmersiones en caso de que el clima no permita bucear en el norte. El sitio de buceo ofrece una gran cantidad de peces, pulpos, sepias, a veces 
                        mantarrayas y mucho más. El sitio de buceo es apropiado para principiantes (hasta 12 m), así como para buceo profesional y técnico, ya que 
                        ofrece profundidades superiores a 40 m en una corta distancia para nadar desde la playa.  
                      </p>
      </div>
      <div class="titulito">
        <p> Dificultad:</p>
      </div>
      <div class="texto">
        <p class="col-sm-12 d-flex">Sencilla.</p>
      </div>
      <div class="titulito">
        <p> Tipo de inmersión:</p>
      </div>
      <div class="texto">
        <p class="col-sm-12 d-flex">Playa.</p>
      </div>
      <div class="titulito">
        <p> Ubicación:</p>
      </div>
      <div class="texto">
        <p class="col-sm-12 d-flex justify-content-center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1475.609766325175!2d-16.32425371948146!3d28.400806905890008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc4033ced6c6656b%3A0x4704c87fd32d368a!2sPunto%20de%20buceo%20Radazul!5e0!3m2!1ses!2ses!4v1644259326618!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>.</p>
      </div>
    </div>
  </div>
  <p></p>
  <p></p>
  <p></p>
  <p></p>

  <footer class="mb g-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-right p-3" style="background-color: rgb(22, 135, 167);">
      <p class="text-white">© 2022 Copyright: TenerifeBriefing.com</p>
    </div>
    <!-- Copyright -->
  </footer>

</div>
